.tituloPrincipal{
    font-family: $font-primaria;
    position: absolute;
    color: white;
    font-size: 28px;
}

.tituloSecundario{
    font-family: $font-secundaria;
    color: white;
    font-size: 24px;
}

.textoParrafo{
    font-family: $font-terciaria;
    color: white;
    font-size: 21px;
}