

.header{
    background: url("../img/index/bg-hero-section1.png") top right no-repeat fixed, url("../img/index/bg-hero-section2.png") bottom no-repeat;
    background-size: 95%, 100% 50%;
    height: 100vh;
    width: 100%;

    /*---------- NAVBAR ----------*/
    .navbar-container{
        display: flex;
        align-items: center;
        gap: 4%;
        padding: 1.5% 6%;
        .logo{
            min-width: 0;
            max-width: 99px;
            height: 110px;
            max-height: 8.6875rem;
        }
        .nav{
            position: relative;
            .nav__bg{
                max-width: 100%;
                height: 95px;
            }
            .nav__menu{
                width: 85%;
                position: absolute;
                top: 52%;
                left: 48%;
                transform: translate(-50%,-50%);
                // gap: 10.5%;
                list-style-type: none;
                display: flex;
                font-family: $font-primaria;
                font-size: 132%;
                line-height: 1;
                letter-spacing: 0.2px;
            }
            .nav__menu li:not(:last-child){
                padding-right: 5.25%;
                border-right: 1px solid white;
            }
            .nav__menu li:not(:first-child){
                padding-left: 5.25%;
            }
            .nav__menu li a:hover{
                color: $clr-red;
                transition: 400ms ease-in-out;
            }

            .nav__menu a{
                display: block;
                position: relative;
                padding: 0em 0;
            }
            .nav__menu a::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 80%;
                height: 0.1em;
                background-color: $clr-red;
                opacity: 0;
                transition: opacity 300ms, transform 300ms;
            }
            
            .nav__menu a:hover::after,
            .nav__menu a:focus::after {
                opacity: 1;
                transform: translate3d(0, 0.2em, 0);
            }
        }
    }

    /*---------- CARROUSEL HEADER ---------*/
    .container-carousel{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 3%;

        .fondo-carousel{
            margin: 0px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(270.2deg, #AD0F17 31.55%, #E5191E 99.87%);
            // max-width: 1090px;
            // height: 600px;
            max-width: 76.25rem;
            width: 100%;
            height: 39.375rem;
            // height: 43.75vw;
            border: 5px solid black;

            .borde-carousel{
                margin: 0px 30px;
                display: inline-block;
                position: relative;
                background: rgb(0, 0, 0);
                clip-path: polygon(50% 0, 46% 3%, 100% 2%, 100% 100%, 13% 100%, 0 100%, 2% 42%, 0 47%, 0 0);
                // max-width: 1018px;
                // height: 546px;
                max-width: 1150px;
                width: 100%;
                height: 576px;
                // height: 40vw;
                .carousel-header-indicator{
                    bottom: -23px;
                }
                .carousel-header{
                    position: absolute;
                    top: 5px;
                    left: 5px; 
                    // max-width: 1005px; 
                    // height: 536px; 
                    max-width: 1140px; 
                    max-height: 566px;
                    // max-height: 39.306vw;
                    clip-path:  polygon(48% 0%, 43% 3%, 100% 2%, 100% 100%, 13% 100%, 0 100%, 2% 40%, 0 44%, 0 0);

                    .carousel-control-next, .carousel-control-prev {
                        opacity: 1;
                    }
                    .carousel-control-next:hover, .carousel-control-prev:hover {
                        filter: brightness(80%) contrast(92%);
                        transition: filter .15s ease;
                    }
                    .carousel-control-prev-icon {
                        background-image: url("../img/index/prev-icon.png");
                        width: 2.625rem;
                        height: 4.1875rem;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-position: 50%;
                        background-size: 100% 100%;
                    }
                    .carousel-control-next-icon{
                        background-image: url("../img/index/next-icon.png");
                        width: 2.625rem;
                        height: 4.1875rem;
                    }
                }
            }
        }
    }
}

.carousel-indicators [data-bs-target] {
    width: 14.19px;
    height: 14.19px;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 3px;
}
.carousel-img{
    max-width: 100%;
}

.about{
    background-image: url("../img/index/bg-punteado.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .imgAbout{
        position: absolute;
        width: 20vw;
        height: 20vw;
        top: -8vw;
        left: 66vw;
    }
    .imgAbout2{
        position: absolute;
        top: 8vw;
        right: 6vw;
        width: 9.278vw;
        height: 9.278vw;
    }
    .rayoAbout{
        position: absolute;
        top: -4vw;
        left: 0px;
        width: 74vw;
        height: 43vw;
        max-height: 39.25rem;
    }

    
    .about-mensaje{
        position: relative;
        .msj1{
            margin-top: 6%;
            margin-left: 8%;
            width: 21.25vw;
            height: 7.153vw;
            max-width: 347px;
        }
        .msj2{
            margin-top: 6%;
            margin-left: 8%;
            position: absolute;
            top: -25px;
            top: -1.8vw;
            left: 22px;
            left: 1.3vw;
            width: 25.122vw;
            height: 8.189vw;   
            max-width: 400px;
            }
        }
        .tituloPrincipal{
            top: 7.1vw;
            left: 12.7vw;
            transform: rotate(-7deg);      
            font-size: 1.95vw;  
            font-size: #{"min(1.95vw, 28px)"}; 
            max-width: 292px;
                
        }

    }

/*---------- CAROUSEL ABOUT ----------*/
.about-container{
    margin-top: 60px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 18%;
    .about-bordecarousel{
        display: inline-block;
        position: relative;
        background: rgb(0, 0, 0);
        clip-path: polygon(86% 0, 100% 50%, 86% 100%, 52% 98%, 54% 92%, 14% 100%, 0 50%, 16% 0);
        max-width: 1057px;
        width: 100%;
        height: 352px;
        .about-carousel{
            position: absolute;
            top: 7px;
            left: 7px;
            width: 1045px;
            height: 340px;
            clip-path: polygon(86% 0, 99.7% 50%, 86% 100%, 53% 98%, 55% 92%, 14% 100%, 0.1% 50%, 16% 0);
            .carousel-item{
                height: 400px;
            }
        }
    }
    .carousel-indicators [data-bs-target] {
        background-color: #B01018;
    }
}

.nosotros{
    background-image: url(../img/index/bg-punteado.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .div-nosotros{
        position: relative;
        top: -13vw;
        z-index: 1;
    }
    .boton-nosotros{
        position: absolute;
        top: 66%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .boton-texto{
        position: absolute;
        top: 66%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: $font-secundaria;
        font-size: 18px;
        color: white;
    }
    .text{
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 974px;
        height: 139px;
    }
    .nosotros__title{
        font-family: $font-secundaria;
        font-size: 24px;
    }
    .nosotros__text{
        font-family: $font-terciaria;
        font-size: 21px;
        word-break: break-all;
    }
    .nosotros-fondonegro{
        position: relative;
        top: -55.1vw;
    }
    .redes-contenedor{
        display: flex;
        justify-content: center;
        align-items: center;

        .botones-redes{
            display: flex;
            margin-top: 3.8rem;
        }
        .container-botones-redes:nth-child(1){
            margin-right: 20px;
        }
        .container-botones-redes{
            position: relative;
            width: fit-content;
            .texto-redes{
                color: white;
                width: fit-content;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 18px;
            }
        }
    }
    .redes{
        display: flex;
        justify-content: center;
        position: absolute;
        top:200px;
        z-index: 1;
        max-width: 1260px;
        margin: 8% 55px 0px 55px;
        .tituloSecundario{
            margin-bottom: 4px;
        }
        article{
            margin-left: 2%;
            .seccionRedes:not(:first-child){
                margin-top: 40px;

            }
        }
    }
    .carousel-redes-borde{
        position: relative;
        flex-basis: 685px;
        height: 930px;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #E5191E;
        background-color: black;
        .about-mensaje{
            position: absolute;
            top: -23px;
            left: -82px;
            .msj1{
                margin-top: 6%;
                margin-left: 8%;
                max-width: 347px;
            }
            .msj2{
                margin-top: 6%;
                margin-left: 8%;
                position: absolute;
                top: -25px;
                left: 22px;
                max-width: 400px;
                }
            }
            .tituloPrincipal{
                top: 34px;
                left: 176px;
                transform: rotate(-7deg);      
                max-width: 292px;
                    
            }
        .carousel-redes{
            flex-basis: 645px;
            height: 878px;
            flex-grow: 0;
            flex-shrink: 0;
            border: 5px solid #E5191E;
        }
    }

}

.sumate{
    background-image: url('../img/index/sumate-fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sumate-mensaje{
        position: relative;
        left: -25.3vw;
        top: 0vw;
        .msj1-sumate{
            width: 35.287vw;
            max-width: 510px;
        }
        .msj2-sumate{
            position: absolute;
            width: 52.431vw;
            max-width: 760px;
            top: -3vw;
            left: -7vw;
        }
        .sumate-titulo{
            top: 53px;
            left: 60px;
            transform: rotate(-10deg);
            font-size: #{"min(2.4vw, 38px)"}; 
        }
    }
    .container-sumate{
        margin-top: 108px;
        .parrafo-sumate{
            max-width: 1042px;
            margin-top: 10px;
        }
        .boton-sumate{
            position: relative;
            margin-top: 60px;
            p{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #AD0F17;
                font-size: 18px;
            }
        }

    }
}
    

@media (min-width:1800px) {
    .sumate{
        .sumate-mensaje{
            .sumate-titulo{
                top: 40px;
            }
        }
    }
}

@media (max-width:1440px) {

    .header{   
        .navbar-container{
            gap: 2%;
        }
        .container-carousel{
            .fondo-carousel{
                height: 43.75vw;
                .borde-carousel{
                    height: 40vw;
                    .carousel{
                        max-height: 39.306vw;
                    }
                }
            }
        }
    }
}
