@import url('http://fonts.cdnfonts.com/css/aldo-the-apache');
@import url('http://fonts.cdnfonts.com/css/norwester');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


$font-primaria: 'Aldo the Apache', sans-serif;  /* TITULOS */
$font-secundaria: 'Norwester', sans-serif; /* SUBTITULOS */
$font-terciaria: 'Poppins', sans-serif; /* PARRAFOS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-content{
    background-image: url("../img/bg-hero-section1.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 95%;
    height: 100vh;
    width: 100%;
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        padding: 1% 4%;
        .logo{
            min-width: 0;
            max-width: 180px;
            max-height: 180px;
        }
        .nav{
            width: 1000px;
            height: auto;
            .bg-nav{

            }
        }
    }
    
    
}


