@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


$font-primaria: 'Aldo the Apache', sans-serif;  /* TITULOS */
$font-secundaria: 'Norwester', sans-serif; /* SUBTITULOS */
$font-terciaria: 'Poppins', sans-serif; /* PARRAFOS */
$clr-red: #E4191E;

@font-face{
    font-family: "Aldo the Apache";
    src: url('../fonts/AldotheApache.ttf');
}
@font-face {
    font-family:"Norwester" ;
    src: url('../fonts/norwester.otf');
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: normal;
}
h1,
h2,h3,h4,h5,h6 {
    line-height: normal;
    font-weight: normal;
    margin: 0;
}

p {
    line-height: normal;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}
@import 'generales';
@import 'index';



